{
  "extends": "@nordicsemiconductor/eslint-config-asset-tracker-cloud-typescript",
  "overrides": [
    {
      "files": ["./typeScript-definitions/*.ts"],
      "rules": {
        "no-irregular-whitespace": ["error", { "skipComments": true }]
      }
    }
  ]
}
// https://eslint.org/docs/latest/user-guide/configuring/rules#disabling-rules